.container {
  width: 150%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 32px;
  background-color: #ffffff;
  border: 1px solid #2e303a;
  border-radius: 12px;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.formGroup {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #16171d;
  text-align: left;
}

.input {
  font-size: 1rem;
  padding: 0.6rem;
  width: 100%;
  border: 1px solid #333;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #16171d  ;
}

.button {
  width: 50%;
  padding: 0.7rem;
  background-color: #16171d;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: #5b5c60;
}